/* Styles for the home and about sections */
.home-section .card-text h1,
.about-section .card-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home-section .card-text h5,
.about-section .card-text p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home-section .card-imgHome,
.about-section .card-img {
  max-width: 30%;
  margin: 0 auto;
  display: block;
}

/* Styles for the services section */
.services-section {
  background-color: #f8f8f8;
  padding: 20px;
}

.services-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.services-section .card-img {
  max-width: 30%;
  margin: 0 auto;
  display: block;
}

.services-section .card-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}

.services-section .carousel-caption {
  max-width: 30%; /* Adjust as needed */
  text-align: center;
  left: 15%; /* Center the caption */
}

/* Ensure text wrapping within carousel captions */
.services-section .carousel-caption h3,
.services-section .carousel-caption p {
  white-space: normal;
}

/* Add spacing between sections */
.services-section {
  margin-top: 20px;
}
