/* Styles for the home and about sections */
.home-section .card-text h1,
.about-section .card-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home-section .card-text h5,
.about-section .card-text p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home-section .card-imgHome,
.about-section .card-img {
  max-width: 30%;
  margin: 0 auto;
  display: block;
}
